@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my new web page</h1>
    <p>Become a certified C# developer <a href=" https://campus.w3schools.com/collections/certifications/products/c-certificate-1">click here</a></p>
</div>
